<nav class="navbar  navbar-light navbar-expand-sm navbar-expand-lg">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item ">
         <a class="nav-link" [routerLink]="[ '' ]" routerLinkActive="">Inicio</a>
        </li>
        <li class="nav-item">
       <a class="nav-link" [routerLink]="[ '/Citogenica' ]" routerLinkActive="active">Citogenicas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="[ '/Sistematica' ]" routerLinkActive="active">Sistematica</a>
        </li>
        
      </ul>
    </div>
  </nav>