<div class="container-fluid">
    <div class="row">

      <div class="col-sm-3 ">
      <app-menu></app-menu>
      
    </div>
      <div class="col-sm-9  border round contenido_main">
        <h1>Citogenica</h1>
       <p>La citogenética es el estudio de los cromosomas y de las enfermedades relacionadas, causadas por un número o una estructura anómalos de los cromosomas</p> 
       <p>Los cromosomas son estructuras complejas ubicadas en el núcleo de las células, compuestos por DNA, histonas y otras proteínas, RNA y polisacáridos.</p> 
       <p>Son básicamente los "paquetes" que contienen el DNA</p>
        <p>Normalmente los cromosomas no se pueden ver con un microscopio óptico, pero durante la división celular se condensan lo suficiente como para poderse analizar fácilmente a 1.000 aumentos.</p>
        <p></p>
      </div>
    
    </div>
  </div>
  <app-footer></app-footer>