
<footer class="nav nav-tabs navbar-light border" style="background-color: #e3f2fd;" >
    <div class="col-md-4 offset-md-4">
    <div class="container">
      <div class="row">
        <div class="col">
          <h6 style="text-align: center"><a href="www.avirtual.cftsa.cl">Aula virtual</a></h6>
        </div>
        <div class="col order-11">
          <h6 style="text-align: center"><a href="">Sobre La Web</a></h6>
        </div>
        <div class="col order-1">
          <h6 style="text-align: center"><a href="www.alumnosnet.cftsa.cl">AlumnosNet</a></h6>
        </div>
      </div>
    </div>
    </div>
    
</footer>