a{
    background-color: rgba(200, 210, 255, 0.2);
}
a:hover {
    cursor: pointer;
     background-color: rgba(0, 47, 255, 0.3);
     margin-top: 0px;
     margin-left: 0px;
     margin-right: 0px;
     border-radius: 10%;

}
.active{
    color: black;
    background-color: rgba(200, 210, 255, 0.8);
}
nav{
    background-color: white;
}