<nav class="nav  flex-sm-column flex-md-column flex-column border rounded " >
 
    <a class="nav-link border" style="height:35px;"  [routerLink]="[ '/Sistematica' ]"> Informacion</a>
    <a class="nav-link border" style="height:35px;" [routerLink]="[ '/Sistematica/Nervioso' ]" routerLinkActive="active">Sistema Nervioso</a>
    <a class="nav-link border" style="height:35px;" [routerLink]="[ '/Sistematica/Tegumentario' ]" routerLinkActive="active">Sistema Tegumentario</a>
    <a class="nav-link border" style="height:35px;" [routerLink]="[ '/Sistematica/Digestivo' ]" routerLinkActive="active">Sistema Digestivo</a>
    <a class="nav-link border" style="height:35px;" [routerLink]="[ '/Sistematica/Endocrino' ]" routerLinkActive="active">Sistema Endocrino</a>
    <a class="nav-link border" style="height:35px;" [routerLink]="[ '/Sistematica/Inmunologico' ]" routerLinkActive="active">Sistema Inmunologico</a>
    <a class="nav-link border" style="height:35px;" [routerLink]="[ '/Sistematica/Circulatorio' ]" routerLinkActive="active">Sistema Circulatorio</a>
    <a class="nav-link border" style="height:35px;" [routerLink]="[ '/Sistematica/Linfatico' ]" routerLinkActive="active">Sistema Linfatico</a>
    <a class="nav-link border" style="height:35px;" [routerLink]="[ '/Sistematica/Muscular' ]" routerLinkActive="active">Sistema Muscular</a>
    <a class="nav-link border" style="height:35px;" [routerLink]="[ '/Sistematica/Reproductor' ]" routerLinkActive="active">Sistema Reproductor</a>
    <a class="nav-link border" style="height:35px;" [routerLink]="[ '/Sistematica/Esqueletico' ]" routerLinkActive="active">Sistema Esqueletico</a>
    <a class="nav-link border" style="height:35px;" [routerLink]="[ '/Sistematica/Respiratorio' ]" routerLinkActive="active">Sistema Respiratorio</a>
    <a class="nav-link border" style="height:35px;" [routerLink]="[ '/Sistematica/Urinario' ]" routerLinkActive="active">Sistema Urinario</a>
      <!-- Content -->
    </nav>