<div class="container-fluid">
    <div class="row">
      <div class="col-sm-3">

      <app-menu1></app-menu1>
      </div>
      <div class="col-sm-9 border round contenido_main">
        <h1 style="text-align:center">{{titulo}}</h1>
       <p style="text-align:center">{{cuerpo1}}</p>  
       <div style="text-align:center">
      </div>
      <img src="../../assets/gggg.jpg" class="img-fluid mx-auto d-block" alt="Responsive image">
      </div>
     
    </div>
  </div>
  <app-footer></app-footer>
